.font-25 {
    font-size: 25px;
}

.card {
    box-shadow: 0 2px 12px #0000001c;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.card.card-statistic-1 .card-header {
    border-color: transparent !important;
    background: #fff !important;
    padding-bottom: 0 !important;
    height: auto !important;
    min-height: auto !important;
    display: block !important;
}

.card.card-statistic-1 .card-body,
.card.card-statistic-1 .card-body {
    font-size: 26px !important;
    font-weight: 700 !important;
    color: #34395e !important;
    padding-bottom: 0 !important;
}

.card.card-statistic-1 {
    display: inline-block !important;
    width: 100% !important;
}

.card.card-statistic-1 .card-icon {
    width: 80px !important;
    height: 80px !important;
    margin: 10px !important;
    border-radius: 3px !important;
    line-height: 94px !important;
    text-align: center !important;
    float: left !important;
    margin-right: 15px !important;
}

.card.card-statistic-1 .card-icon .ion,
.card.card-statistic-1 .card-icon .fas,
.card.card-statistic-1 .card-icon .far,
.card.card-statistic-1 .card-icon .fab,
.card.card-statistic-1 .card-icon svg,
.card.card-statistic-1 .card-icon .fal {
    font-size: 22px !important;
    color: #ffffff !important;
}

.card.card-statistic-1 .card-icon {
    line-height: 90px !important;
}

.card.card-statistic-1 .card-header {
    padding-bottom: 0 !important;
    padding-top: 25px !important;
}

.card.card-statistic-1 .card-header h4 {
    font-weight: 600 !important;
    font-size: 15px !important;
    letter-spacing: .5px !important;
    line-height: 1.2;
    color: #98a6ad;
    margin-bottom: 0 !important;
}

.card.card-statistic-1 .card-body {
    font-size: 20px !important;
    padding-top: 0 !important;
}